# General
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.env.example
.env
.DS_STORE
workspace.code-workspace

# Hardhat
artifacts
cache
deployments

# JS
node_modules
yarn.lock

# Solidity
contracts/mock
*.skip