# General
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.env.example
.env
.DS_STORE
workspace.code-workspace

# Hardhat
artifacts
cache

# JS
node_modules
package-lock.json

# Solidity
contracts/mock
*.skip